.btn-half {
  width: 100%;
}
.modifiers {
  display: inline-block;
}
.center-text {
  text-align: center;
}
.exhausted {
  background-color: rgba(255, 0, 0, 0.2);
}

.defeated {
  background-color: rgba(255, 0, 0, 0.2);
}

.right-text {
  text-align: right;
}
.icons {
  display: inline-block;
  margin: 2px;
  font-size: 40px;
  -webkit-text-stroke-width: 1px;
}
.health {
  @extend .icons;
  color: green;
  -webkit-text-stroke-color: darkgreen;
}
.courage {
  @extend .icons;
  color: rgb(254, 241, 1);
  -webkit-text-stroke-color: rgb(184, 172, 7);
}
.white {
  @extend .icons;
  font-size: 35px;

  color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(0, 0, 0);
}
.white-defence {
  @extend .icons;
  font-size: 35px;

  color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(142, 1, 1);
}
.red-defence {
  @extend .icons;
  font-size: 35px;

  color: rgb(142, 1, 1);
  -webkit-text-stroke-color: rgb(205, 202, 202);
}
.red {
  @extend .icons;
  font-size: 35px;

  color: rgb(142, 1, 1);
  -webkit-text-stroke-color: rgb(205, 202, 202);
}
.black {
  @extend .icons;
  font-size: 35px;

  color: rgb(0, 0, 0);
  -webkit-text-stroke-color: rgb(179, 179, 179);
}

.dice {
  margin-top: 45px;
}

.attack-dice {
  margin-top: 8px;
}
body {
  background-color: white !important;
  background: white !important;
}

.totals {
  margin: 2px;
  font-size: 30px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.defence-dice-roller {
  margin-top: 0;
}
.defence-dice {
  margin-top: 5px;
}
.selected-dice {
  background-color: lightblue;
}

.army-card {
  :hover {
    background-color: rgb(183, 183, 183);
  }
}
.army-title {
  padding: 10px;
  margin-bottom: 0;
}
